
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
.videos
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    height:500px;
    background-color:rgba(0, 0, 0, 0.1);
}
/* width */
.videos::-webkit-scrollbar{
  width: 5px;
}

/* Track */
.videos::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.videos::-webkit-scrollbar-thumb {
  background-color: #f8f9fa;
  border-radius:15px;
}

/* Handle on hover */
.videos::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}

</style>
<div class="col-12 col-lg-12 videos">
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
    @Html.Partial("VideoCard")
</div>